<header>
  <h2>Recomendaciones</h2>
  <hr>
</header>
<section>
  <div class="search-group-item">
    <label>Busca recomendaciones por el la locacion:</label>
    <p><input (keyup)=searchByLocation(userLocation.value) placeholder="Location" #userLocation></p>
  </div>
  <div class="search-group-item">
    <label>Por tipo:</label>
    <!-- <p><input (keyup)=searchBySkill(skillInput.value) placeholder="Skill Name" #skillInput></p> -->
    <select (change)=searchBySkill(TipoInput.value) #TipoInput>
      <option value="Bar">Bar</option>
      <option value="Restaurante">Restaurante</option>
      <option value="Bar y Restaurante">Bar y Restaurante</option>
     
    </select>
  </div>
</section>
<hr>
<users-list [users]=filteredUsers></users-list>
