<header>
  <h2>PROMOCIONES EN EL MOMENTO..!!</h2>
  <hr>
</header>
<section>
  
  <div class="search-group-item">
    <label>Search By Location:</label>
    <p><input (keyup)=searchByLocation(userLocation.value) placeholder="Location" #userLocation></p>
  </div>

  <div class="search-group-item">
    <label>TIPO:</label>
    <!-- <p><input (keyup)=searchBySkill(skillInput.value) placeholder="Skill Name" #skillInput></p> -->
    <select (change)=searchBySkill(skillInput.value) #skillInput>
        <option value="Bebidas">Bebidas</option>
        <option value="Comida">Comida</option>
        <option value="Comida y Bebidas">Comida y Bebidas</option>
    </select>
  </div>
</section>
<hr>
<users-list [users]=filteredUsers></users-list>
