fieldset {
    margin-top: 25%;
  width: 160%;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

form#login {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

form legend {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

form label {
  width: 100%;
  text-align: left;
}

form input {
  width: 100%;
}

form button.btn {
  float: right;
  color: #f7f5f4;
  background-color: orange;
}

form button.btn:hover {
  cursor: pointer;
}


@media (max-width: 360px) {
  fieldset {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  margin-top: 45%;
}
  
}
a{
  color: orange;
}