<nav class="navbar navbar-inverse" *ngIf="authInfo?.isLoggedIn()" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="community"><div id="brand" class="navbar-brand">Next Place</div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
   
        <li>
          <a  routerLinkActive="active"
              routerLink="community"
              [routerLinkActiveOptions]="{exact:true}"
          >Lugares</a>
        </li>
        <li>
          <a  routerLinkActive="active"
              routerLink="recomendaciones"
              [routerLinkActiveOptions]="{exact:true}"
          >Recomendaciones</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a  routerLinkActive="active"
              routerLink='/user-profile'
              [routerLinkActiveOptions]="{exact:true}"
              *ngIf="authInfo?.isLoggedIn()"><span class="glyphicon glyphicon-user"></span> My Profile</a>
        </li>
        <li>
          <a  id="logout"
              (click)="logout()"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}"
              *ngIf="authInfo?.isLoggedIn()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
