<top-menu></top-menu>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>
<footer>
<img  class="campo" src="https://firebasestorage.googleapis.com/v0/b/drinktime-f1b35.appspot.com/o/logoprincipal.png?alt=media&token=97ea4f5d-9ec2-41d7-a95b-72c87929153b"/>
<p class="campo">Contactenos Quito Av.6 de Diciembre y Coruña 023469213-0984687213</p>
<p class="campo">Contactenos Quito Av.6 de Diciembre y Coruña 023469213-0984687213</p>
<p class="campo">Contactenos Quito Av.6 de Diciembre y Coruña 023469213-0984687213</p>

<div></div>
</footer>