<!-- <skills-list [skills]=skillsProperty></skills-list> -->

<div class="main">
  <img src="./assets/images/logo.png" alt="shuffle symbol">
  <header></header>
  <h3 id="tagline">Solo dejate llevar <br>Comida , Bebidas & Amigos</h3>
  <section id="buttons">
    <div class="col-xs-6">
       <a routerLinkActive="active"
          routerLink="/register"
          *ngIf="!authInfo?.isLoggedIn()"
      ><button class="btn">Registrate</button></a>
    </div>
    <div class="col-xs-6">
       <a routerLinkActive="active"
          routerLink="/login"
          *ngIf="!authInfo?.isLoggedIn()"
      ><button class="btn">Ingresa</button></a>
    </div>
  </section>
</div>
