<form [formGroup]="form" autocomplete="off" novalidate>
  <fieldset>
    <legend>Encontraste una promocion cuentanos...!!</legend>
    <div class="form-field">
      <label>Tipo</label>
      <select name="skill_name" class="form-control" formControlName="skill_name">
        <option value="Bebidas">Bebidas</option>
        <option value="Comida">Comida</option>
        <option value="Comida y Bebidas">Comida y Bebidas</option>
      </select>
      <div class="field-error-message" *ngIf="isErrorVisible('skill_name', 'required')">Field is required</div>
    </div>
    <div class="form-field">
      <label>Descripcion</label>
      <p>¿Donde lo encontraste y que es?</p>
      <input name="description" class="form-control" formControlName="description">
      <div class="field-error-message" *ngIf="isErrorVisible('description', 'required')">Field is required</div>
    </div>
  </fieldset>
</form>
