<form novalidate [formGroup]="form" id="register">
  <fieldset>
    <legend>Registrate</legend>
    <p>¿Ya tienes Cuenta?
      <a routerLinkActive="active"
         routerLink="/login"
     >Ingresa</a>
    </p>
    <div class="form-fields">
      <div class="form-field">
        <label>Correo:</label>
        <input name="email" formControlName="email">
      </div>
       <div class="form-field">
        <label>Contraseña:</label>
        <input name="password" formControlName="password" type="password">
      </div>
       <div class="form-field">
        <label>Confirma Contraseña:</label>
        <input name="confirm" formControlName="confirm" type="password">
      </div>
    </div>
    <!-- Si no lals contraseñas no son iguales no habilta el boton -->
    <button class="btn" (click)="register()" [disabled]="!isPasswordMatch()">Register</button>
  </fieldset>
</form>
