<form novalidate [formGroup]="form" id="register">
  <fieldset>
    <legend>Registrate</legend>
    
    <p>Ya usas Next Place?
      <a routerLinkActive="active"
         routerLink="/login"
     >Inicia Sesión</a>
    </p>
    <div class="form-fields">
      <div class="form-field">
        <label>Correo electrónico:</label>
        <input name="email" formControlName="email">
      </div>
       <div class="form-field">
        <label>Contraseña:</label>
        <input name="password" formControlName="password" type="password">
      </div>
       <div class="form-field">
        <label>Repetir Contraseña:</label>
        <input name="confirm" formControlName="confirm" type="password">
      </div>
    </div>
    <!-- disable register button if passwords do not match -->
    <button class="btn" (click)="register()" [disabled]="!isPasswordMatch()">Register</button>
  </fieldset>
</form>
